/css/style.css
/img/icons/pages/index/**/*
/img/icons/pages/product/**/*
/img/icons/pages/sport/**/*
/img/images/pages/decor/**/*
/img/images/pages/index/**/*
/img/images/pages/object/**/*
/img/images/pages/product/**/*
/img/images/pages/sport/**/*
/js/script.js
/decor.html
/index.html
/object.html
/pages.html
/product.html
/sport.html
